<!--<h1 class="mt-4">Dashboard</h1>-->
<!--<p class="lead mb-3">Welcome <%= fname %> <%= lname %></p>-->
<!--<a href="/users/logout" class="btn btn-secondary">Logout</a>-->
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" href="/font/fonts.css">
<link rel="stylesheet" type="text/css" href="/css/nav-footer.css">
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<header>
    <div id="nav">
        <div class="nav-logo"  onclick="location.href='/'">
            <img src="/images/logos/logo(1).png">WINGER
        </div>
        <div class="nav-elements" style="margin-left: auto;" onclick="location.href='/'">Hi, <%= fname %></div>
        <div class="nav-elements" onclick="location.href='/'">Help</div>
        <div class="nav-elements signup" onclick="location.href='/users/logout'">Logout</div>
    </div>
</header>
<main>
    <div class="container">
        <div class="text-container">
            Search for a<br>
            hotel for<br>
            your Pet
        </div>
        <div class="profile">
            <img src="/images/placeholder.png" style="width: 40vh">
        </div>
        <form action="/search" class="search-input">
            <div class="search-elements" style="margin: 0 25px 0 0 ">
                <label for = 'initial-date'>Initial Date</label>
                <input type="text" placeholder="Add Date" name="initial-date" id="initial-date" class="form-control" required>
            </div>
            <div class="search-elements">
                <label for = 'initial-date'>Initial Date</label>
                <input type="text" placeholder="Add Date" name="initial-date" id="initial-date" class="form-control" required>
            </div>
            <button id="search">Search</button>
        </form>
    </div>
</main>
<footer>
    <div class="footer">
        <div class="footer-placeholder">
            <a href="#" class="logo"><img src="/images/logos/zwinger.png" alt="Logo" height="100px" width="160px"></a>
        </div>
        <div class="footer-copyright">
            Copyright @Zwinger 2020. All rights reserved.
        </div>
    </div>
</footer>
<script src="/js/response.js"></script>