<!DOCTYPE html>
<html>
   <head>
      <title>Zwinger</title>

    <link rel="shortcut icon" href="/images/logos/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/font/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
		 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/animate.css">

      <link rel="stylesheet" href="/css/aos.css">
      <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
      <link rel="stylesheet" href="/css/jquery.timepicker.css">
      <link rel="stylesheet" href="/css/fancybox.min.css">

      <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
      <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">

   </head>
   <body data-spy="scroll" data-target="#templateux-navbar" data-offset="200">
	   <!-- <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="templateux-navbar">

	     <div class="container">

		     <a class="navbar-brand" href="#"><img src="/images/logos/zwinger.png" height="150" ><!--<span class="text-danger">Zwinger</span>--></a>
        <!-- <div class="site-menu-toggle js-site-menu-toggle  ml-auto"  data-aos="fade" data-toggle="collapse" data-target="#templateux-navbar-nav" aria-controls="templateux-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
            </div>

			<div class="collapse navbar-collapse" id="templateux-navbar-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/login" class="btn btn-primary btn-block mb-2">Login</a></li>
           <!-- <li class="nav-item"><a class="nav-link" href="#">Sign In</a></li>-->
              <!-- <li class="nav-item"><a class="nav-link" href="/users/register" class="btn btn-primary btn-block mb-2">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="" class="btn btn-primary btn-block mb-2">Become a Host!!</a></li>

          </ul>
        </div>
      </div> -->

    <!-- </nav>  --> 
    <header>
      <div id="nav">
          <div class="nav-logo"  onclick="location.href='/'">
              <img src="/images/logos/logo(1).png">WINGER
          </div>
          <div class="nav-elements" style="margin-left: auto;" onclick="location.href=''">Home</div>
          <div class="nav-elements" onclick="location.href='/users/login'">Login</div>
          <div class="nav-elements" onclick="location.href='/users/register'">Sign up</div>
          <div class="nav-elements" onclick="location.href=''">Become a Host</div>
          
      </div>
  </header>
	<section class="site-hero overlay" style="background-image: url(images/home/main2.jpeg)" data-stellar-background-ratio="0.5" id="section-home">
        <div class="container">
          <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade-up">
              <h4 class="heading">Book a Hostel for your Pet!!!</h4>
            </div>
          </div>
        </div>

        <a class="mouse smoothscroll" href="#next" >
          <div class="mouse-icon">
            <span class="mouse-wheel"></span>
          </div>
        </a>
      </section>
	  <section class="section bg-light pb-0"  >
        <div class="container">

          <div class="row check-availabilty" id="next">
            <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

              <form action="/search" method="post">
                <div class="row">
				<div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <label for="city" class="font-weight-bold text-black">Where</label>
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <input type="text" placeholder="Enter the city" name="city" id="city" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <label for="date" class="font-weight-bold text-black">From</label>
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <input type="date" placeholder=false name="date11" id="checkin_date" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <label for="date" class="font-weight-bold text-black">To</label>
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <input type="date" placeholder=false name="date2" id="checkout_date" class="form-control" required>
                    </div>
                  </div>


                  <div class="col-md-6 col-lg-3 align-self-end">
                    <button type="submit" class="btn btn-primary btn-block text-white">Check Availabilty</button>
                  </div>
                </div>
              </form>
            </div>
			</div>


          </div>

      </section>
      <footer>
        <div class="footer">
                <div class="footer-placeholder">
                    <a href="#" class="logo"><img src="/images/logos/zwinger.png" alt="Logo" height="100px" width="160px"></a>
                </div>			
                <div class="footer-copyright">
                    Copyright @Zwinger 2020.  All rights reserved.
                </div>                
          </div>
      </footer>

    

		  <script src="/js/jquery-3.3.1.min.js"></script>
      <script src="/js/jquery-migrate-3.0.1.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <!-- <script src="/js/jquery.stellar.min.js"></script> -->
      <!-- <script src="/js/jquery.fancybox.min.js"></script> -->
      <!-- <script src="/js/jquery.easing.1.3.js"></script> -->



      <script src="/js/aos.js"></script>

      <script src="/js/bootstrap-datepicker.js"></script>
      <script src="/js/jquery.timepicker.min.js"></script>
      <script src="/js/response.js"></script>

      <script src="/js/main.js"></script>
     <!--<a href="/users/login" class="btn btn-primary btn-block mb-2"
       >login</a
     >
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Hostel Register</a>

      <form action="/search" method="post">
        <label for="City"><b>Where is your little friend </b></label>
        <input type="text" placeholder="Enter the city " name="city" required>
        <label for="Date"><b>From the date  </b></label>
        <input type="date" placeholder=false name="date1" required>
        <label for="Date"><b>To the date  </b></label>
        <input type="date" placeholder=false name="date1" required>
        <button type="submit" >Search</button>
      </form>-->
   </body>
</html>
